.text-block {
	width: 684px;
        height: 500px;
        border: 1px solid #000;
        padding: 10px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
}
